:root {
  --text: #ffffff;
  --background: #282c35;
  --input-background: #393f44;
  --input-border: #85888c;
  --progress-color: #74bb49;
}
::placeholder {
  color: #cbcbcb;
}

.playerName > input {
  background-color: var(--input-background);
  color: var(--text);
  border: 1px inset var(--input-border);
}
.scoreInput input {
  background-color: var(--input-background);
  color: var(--text);
  border: 1px inset var(--input-border);
}

#progressBar li.finished::before {
  background: var(--progress-color);
  border-color: var(--progress-color);
  color: #111111;
}
#progressBar li.finished::after {
  background: var(--progress-color);
}
#progressBar li:before {
  border: 2px solid var(--input-border);
  background: var(--background);
  color: var(--text);
}
#mobileProgressBar {
  background: var(--progress-color);
}
#themeToggle {
  color: var(--text);
  background-color: var(--background);
}
