:root {
  --background: #ffffff;
  --input-background: #f9f9f9;
  --input-error-color: #ec0000;
  --text: #111111;
  --input-border: #eeeeee;
  --table-border: #333333;
}

table {
  background: var(--background);
  color: var(--text);
}
table td,
th {
  border: 1px solid var(--table-border);
}

.playerName > input {
  background-color: var(--input-background);
  color: var(--text);
  border: 1px inset var(--input-border);
}
.tableInput {
  background-color: var(--input-background);
  color: var(--text);
  border: 1px inset var(--input-border);
}
.tableInput.error {
  border: 1px solid var(--input-error-color);
}
.points {
  color: var(--text);
}

#themeToggle {
  color: var(--text);
  background-color: var(--background);
}
