@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: pieces-of-eight;
  src: url("../fonts/pieces-of-eight.ttf");
}

html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
  height: 100vh;
}
body {
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: Open Sans;
}
p,
label {
  font-size: 1.25rem;
  color: #000;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.25rem;
}
button {
  margin-block-start: 1rem;
  border-radius: 2px;
  font-size: 1.25rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fe0000;
  padding: 0.5rem;
  cursor: pointer;
  font-family: pieces-of-eight;
}

.points {
  font-size: 1.25rem;
}
.playerName {
  display: flex;
  flex-direction: column;
  max-width: 31.25rem;
  margin-block-start: 1rem;
  text-shadow: #000000 1px 0 0, #000000 1px 1px 0, #000000 1px -1px 0px,
    #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px,
    #000000 0px 1px 0px, #000000 0px -1px 0px;
  color: #fff;
}
.playerName > input {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.tableInput {
  max-width: 5.5rem;
  font-size: 0.875rem;
  margin: 0 1px;
}
.tableText {
  font-size: 1.25rem;
}
.tableScrollWrapper {
  overflow-x: scroll;
}

#container {
  padding: 0 0.25rem;
}
#title {
  font-family: pieces-of-eight, cursive;
  font-size: 2.75rem;
  margin: 0;
}
#intro {
  font-family: pieces-of-eight, cursive;
  font-size: 1.75rem;
  text-shadow: #000000 1px 0 0, #000000 1px 1px 0, #000000 1px -1px 0px,
    #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px,
    #000000 0px 1px 0px, #000000 0px -1px 0px;
  color: #fff;
}
#numberOfPlayersForm {
  display: flex;
  flex-direction: column;
}
#numberOfPlayers {
  border-radius: 2px;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid black;
}
#trickInfo {
  display: flex;
  margin-block-end: 0.25rem;
}
#tablesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  padding-block-end: 1px;
}
#resetButton {
  display: none;
}
#playerTable {
  margin: 0 0.5rem 0.5rem 0;
}
#titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}
#themeToggle {
  margin-top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
